*{
    font-family: "Roboto Condensed", serif;
  }
  
  /* HEADER */
  
  .logo{
      font-weight: 600;
      font-size: 1.5rem;
      text-decoration: none;
  }
  
  ul {list-style: none;
  padding-left: 0%;
  display: flex;
}

li {margin-right: 20px;}
  
  a  {
      color: black;
  }
  
  a:hover {
      color: #2a5c41;
  }
  
  
  
  /* MAIN */
  
  .main-img{
      width: 30%;
  }
  
  body {
      background-color: #a0d8d0;
      color: #333;
  }
  
  
  
  
  
  /* FOOTER */
  
  footer{
      margin-top: 4rem;
      border-top: 1px solid black;
  }